name: Auto Update Clash Sub
on:
  schedule:
    - cron: '0 0,12 * * *'  # 每天凌晨0点和中午12点（UTC时间）自动更新，对应北京时间早8点和晚8点
  workflow_dispatch:    # 允许手动触发更新

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Sub-Store in Docker
        run: |
          docker run --rm -v $(pwd):/workdir -w /workdir node:20 \
            sh -c "npm install -g https://github.com/sub-store-org/sub-store-cli/releases/download/v0.0.1/sub-store-cli.tgz && sub-store-cli run -c config.yaml"

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto update clash subscriptions"
          file_pattern: 'sub_*.yaml'
